﻿td {
	font-family: "Trebuchet MS", Arial, Veranda, sans-serif;
}

#calback {
	background: #FFF url('images/calWaiting.gif') no-repeat 50% 100px;
	margin: 0 auto;
	width: 350px;
}

#calendar {
	width: 100%;
	height: 100%;
}
.cal {
	background: #3498DB;
	width: 100%; 
}

.calhead {
	width: 100%;
	font-weight: bold;
	color: #FFF;
	font-size: 20px;      
}

.calhead img {
	border: none;
}

.dayhead {
	height: 25px;
	background: #EEE;
}

.dayhead td {
	text-align: center;
	color: #000;
}

.dayrow {
	background: #FFF;
	height: 40px;
}

.dayrow td {
	width: 50px;
	color: #000;
	font-size: .7em;
}

.day {
	text-align:center;
	font-size:small;
	color:white;
	line-height: 35px
}

.dayover {
	background: #5a825a;
	cursor:pointer;
}

.dayout {
	background: #FFF;
}
#calendar {
		width: 900px;
		margin: 0 auto;
		}
.mes{
	font-size:x-large;
	text-transform:uppercase;
	cursor:pointer;
}
.ok{
	font-size:14px;
    font-family: Arial, helvetica;
    outline:none;
    border-radius:3px;
    -webkit-border-radius:6px;
    -moz-border-radius:3px;
    border:1px solid rgba(0,0,0, 0.2);
    color:black;
    background-color:#eee;
    padding: 3px;
}
.validaciones{
	font-size:14px;
    font-family: Arial, helvetica;
    outline:none;
    border-radius:3px;
    -webkit-border-radius:6px;
    -moz-border-radius:3px;
    border:1px solid rgba(0,0,0, 0.2);
    color:maroon;
    background-color:#eee;
    padding: 3px;
}
.ventana{

	display:none;
	font-family:Arial, Helvetica, sans-serif;
	color:#808080;
	line-height:28px;
	font-size:15px;
	text-align:justify;


}