.ebul_cbrps, .ebul_cbrps ul {
  background-color: #FFFFFF;
  border: 1px solid #646464;
  display: block;
  font-size: 1px;
  margin: 0px;
  overflow: auto;
  padding: 2px;
  position: absolute;
  visibility: hidden;
}

.ebul_cbrps_shadow {
  background-color: #777777;
  display: block;
  margin: 0px;
  overflow: hidden;
  position: absolute;
  visibility: hidden;
}

.ebul_cbrps table {
  border-collapse: separate;
}

.ebul_cbrps tr {
  background-color: #FFFFFF;
  cursor: pointer;
  font-size: 1px;
}

.ebul_cbrps td {
  border: 1px solid #FFFFFF;
  padding: 3px;
  text-align: left;
}

.ebul_cbrps td a {
  color: #000000;
  font-family: "Verdana", serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

.ebul_cbrps tr.hot, .ebul_cbrps tr.expanded {
  background-color: #F0F0F0;
}

.ebul_cbrps tr.hot td, .ebul_cbrps tr.expanded td {
  border-color: #8C8C8C;
}
.ebul_cbrps tr.hot a, .ebul_cbrps tr.expanded a {
  color: #000080;
  font-family: "Verdana", serif;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
}

ul.ebul_cbrps {
  position: absolute;
  visibility: hidden;
}

