﻿.correcto {
    background-image:url('images/correcto.JPG');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    font-size:14px;
    font-family: Arial, helvetica;
    outline:none;
    border-radius:3px;
    -webkit-border-radius:6px;
    -moz-border-radius:3px;
    border:1px solid rgba(0,0,0, 0.2);
    color:green;
    background-color:#eee;
    padding:2px 2px 2px 25px;
    text-align:left;
}
.auto-style1 {
	text-align: center;
}
.auto-style2 {
	font-size: 12px;
	font-family: Arial, helvetica;
	outline: none;
/*transition: all 0.75s ease-in-out;*/ /*-webkit-transition: all 0.75s ease-in-out;*/ /*-moz-transition: all 0.75s ease-in-out;*/border-radius: 3px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 3px;
	border: 1px solid rgba(0,0,0, 0.2);
	background-color: #eee;
	padding: 3px;
	box-shadow: 0 0 10px #aaa;
	-webkit-box-shadow: 0 0 10px #aaa;
	-moz-box-shadow: 0 0 10px #aaa;
	border: 1px solid #999;
	background-color: white;
	text-align: center;
}
.auto-style3 {
	text-align: left;
}
.inputs{
	font-size:14px;
    font-family: Arial, helvetica;
    outline:none;
    border-radius:3px;
    -webkit-border-radius:6px;
    -moz-border-radius:3px;
    border:1px solid rgba(0,0,0, 0.5);
    padding: 3px;
}
.validaciones{
	font-size:14px;
    font-family: Arial, helvetica;
    outline:none;
    border-radius:3px;
    -webkit-border-radius:6px;
    -moz-border-radius:3px;
    border:1px solid rgba(0,0,0, 0.2);
    color:maroon;
    background-color:#eee;
    padding: 3px;
    text-align:center;
}
.ok{
	font-size:14px;
    font-family: Arial, helvetica;
    outline:none;
    border-radius:3px;
    -webkit-border-radius:6px;
    -moz-border-radius:3px;
    border:1px solid rgba(0,0,0, 0.2);
    color:green;
    background-color:#eee;
    padding: 3px;
    text-align:center;
}
.auto-style5 {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
}
.auto-style6 {
	font-family: Arial, Helvetica, sans-serif;
}

.auto-style13 {
	font-size: small;
}
.auto-style15 {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
}
.auto-style21 {
	text-align: left;
	font-size: 12px;
}
.centrar {
	text-align: center;
	font-size: 12px;
}

.auto-style24 {
	text-align: center;
	font-size: 12px;
}

.auto-style28 {
	text-align: right;
}

.auto-style29 {
	font-size: 14px;
	font-family: Arial, helvetica;
	outline: none;
	border-radius: 3px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 3px;
	border: 1px solid rgba(0,0,0, 0.5);
	padding: 3px;
	color: #0015FF;
	font-weight: bold;
}
.auto-style4 {
	visibility: hidden;
	top: 100px;
	left: 50%;
	margin-left: -300px;
	width: 520px;
	background: #eee url('../../css/terminos/modal-gloss.png') no-repeat -200px -80px;
	position: absolute;
	z-index: 101;
	padding: 30px 40px 34px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
	text-align: left;
}
.auto-style31 {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
.auto-style26 {
	font-size: 14px;
	font-family: Arial, helvetica;
	outline: none;
	border-radius: 3px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 3px;
	border: 1px solid rgba(0,0,0, 0.5);
	padding: 3px;
	text-decoration: none;
}
.auto-style27 {
	color: #000000;
}
.auto-style32 {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
}