﻿.auto-style1 {
	text-align: right;
	font-weight:bold;
	font-family:"Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	font-size:12px;
}
.auto-style2 {
	text-align: right;
	font-weight: bold;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	font-size: 12px;
	border-right-style: solid;
	border-right-width: 1px;
}
.auto-style3 {
	text-align: right;
	font-weight: bold;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	font-size: 12px;
	border-left-style: solid;
	border-left-width: 1px;
}
.auto-style4 {
	border-top-style: solid;
	border-top-width: 1px;
}
.auto-style5 {
	border-style: solid;
	border-width: 1px;
}
.auto-style6 {
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
.auto-style7 {
	border-collapse: collapse;
}
.auto-style8 {
	border-style: solid;
	border-width: 1px;
}
.auto-style9 {
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
.auto-style10 {
	border-left-style: solid;
	border-left-width: 1px;
}
.auto-style11 {
	text-align: right;
	font-weight: bold;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	font-size: 12px;
	border-left-style: none;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
}
.auto-style11h {
	text-align: center;
	font-weight: bold;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	font-size: 12px;
	border-left-style: none;
	border-left-width: 1px;
	border-right-style: none;
	border-right-width: 1px;
}
.auto-style11h2 {
	text-align: center;
	font-weight: bold;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	font-size: 12px;
	border-left-style: none;
	border-left-width: 1px;
	border-right-style: none;
	border-right-width: 1px;
}
.auto-style12 {
	text-align: right;
	font-weight: bold;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	font-size: 12px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
}
.auto-style13 {
	border-left-style: solid;
	border-left-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
}
.auto-style15 {
	text-align: right;
	font-weight: bold;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	font-size: 12px;
	border-bottom-style: none;
	border-bottom-width: medium;
	border-right-style: solid;
	border-right-width: 1px;
}
.auto-style16 {
	border-bottom-style: none;
	border-bottom-width: medium;
}
.auto-style17 {
	border-left-style: solid;
	border-left-width: 1px;
	border-top-style: none;
	border-top-width: medium;
}
.ventana{
	display:none;
	font-family:Arial, Helvetica, sans-serif;
	color:#808080;
	line-height:28px;
	font-size:15px;
	text-align:justify;
}