﻿.auto-style2 {
	font-size: 12px;
	font-family: Arial, helvetica;
	outline: none;
/*transition: all 0.75s ease-in-out;*/ /*-webkit-transition: all 0.75s ease-in-out;*/ /*-moz-transition: all 0.75s ease-in-out;*/border-radius: 3px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 3px;
	border: 1px solid rgba(0,0,0, 0.2);
	background-color: #eee;
	padding: 3px;
	box-shadow: 0 0 10px #aaa;
	-webkit-box-shadow: 0 0 10px #aaa;
	-moz-box-shadow: 0 0 10px #aaa;
	border: 1px solid #999;
	background-color: white;
}
.inputs{
	font-size:14px;
    font-family: Arial, helvetica;
    outline:none;
    border-radius:3px;
    -webkit-border-radius:6px;
    -moz-border-radius:3px;
    border:1px solid rgba(0,0,0, 0.5);
    padding: 3px;
}
.validaciones{
	font-size:14px;
    font-family: Arial, helvetica;
    outline:none;
    border-radius:3px;
    -webkit-border-radius:6px;
    -moz-border-radius:3px;
    border:1px solid rgba(0,0,0, 0.2);
    color:maroon;
    background-color:#eee;
    padding: 3px;
    text-align:center;
}
.ok{
	font-size:14px;
    font-family: Arial, helvetica;
    outline:none;
    border-radius:3px;
    -webkit-border-radius:6px;
    -moz-border-radius:3px;
    border:1px solid rgba(0,0,0, 0.2);
    color:green;
    background-color:#eee;
    padding: 3px;
    text-align:center;
}
.auto-style3 {
	text-align: left;
	border-right-style: none;
	border-right-width: medium;
	border-top-style: none;
	border-top-width: medium;
}
.auto-style5 {
	border-width: 0px;
}
.auto-style6 {
	text-align: left;
	border-right-style: none;
	border-right-width: medium;
}
.auto-style7 {
	border-right-style: none;
	border-right-width: medium;
	border-bottom-style: none;
	border-bottom-width: medium;
}
.auto-style8 {
	border-left-style: none;
	border-left-width: medium;
	border-bottom-style: none;
	border-bottom-width: medium;
}
.auto-style9 {
	border-left: medium none #999;
	border-right: medium none #999;
	border-top: medium none #999;
	border-bottom: 1px solid #999;
	font-size: medium;
	font-family: Arial, helvetica;
	outline: none;
/*transition: all 0.75s ease-in-out;*/ /*-webkit-transition: all 0.75s ease-in-out;*/ /*-moz-transition: all 0.75s ease-in-out;*/border-radius: 3px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 3px;
	background-color: #eee;
	padding: 3px;
	box-shadow: 0 0 10px #aaa;
	-webkit-box-shadow: 0 0 10px #aaa;
	-moz-box-shadow: 0 0 10px #aaa;
	background-color: white;
	text-align: center;
}
.auto-style11 {
	border-left-style: none;
	border-left-width: medium;
	text-align: right;
	font-size: small;
}
.auto-style12 {
	border-left-style: none;
	border-left-width: medium;
	border-bottom-style: none;
	border-bottom-width: medium;
	text-align: center;
}