﻿body
{
	margin: 0 auto;
}
/**************************** Header Section Starts ***************************/
.header
{
	width: 1250px;
	height: 146px;
    background: url(../images/header.jpg);
    background-repeat: no-repeat;

}
/**************************** Second Section Ends *****************************/

/**************************** Menu Section Starts *****************************/
.menu
{
	width: 1250px;
	height: 44px;
    background: url(../images/menu.png);
    background-repeat: no-repeat;
}

.menu-text
{
font-family: verdana;
font-size: 12px;
color: #ffffff;
padding: 12px 12px 10px 10px;
float: left;
font-stretch: condensed;
cursor:pointer;
}
.menu-text1
{
font-family: verdana;
font-size: 12px;
color: #ffffff;
float: left;
font-stretch: condensed;
cursor: pointer;
}

/**************************** Menu Section Ends *******************************/

/**************************** First Section Starts ****************************/
.right-image
{
  width: 230px;
  height: 235px;
  float: right;
  background-image: url(../images/right-image.jpg);
  background-repeat: repeat-x;
  border-left: solid 1px #ffffff;
  text-align: left;
}
.mid-image
{
  width: 443px;
  height: 235px;
  float: right;
  background-image: url(../images/mid-image.gif);
  background-repeat: no-repeat;
}
.left-image
{
  width: 238px;
  height: 235px;
  float: right;
  background-image: url(../images/left-image.jpg);
  background-repeat: repeat-x;
  border-right: solid 1px #ffffff;
  text-align: left;
}

/**************************** First Section Ends ******************************/

/**************************** Second Section Starts ***************************/

.second-section
{
  width: 675px;
  height: 139px;
  border-bottom: solid 1px #dbdbdb;
  float: right;
}
.pack-box3
{
  width: 230px;
  height: 139px;
  float: right;
  background-image: url(../images/pack-image.jpg);
  background-repeat: repeat-x;
  border-left: solid 1px #ffffff;
  text-align: left;
}

.pack-box2
{
  width: 221px;
  height: 139px;
  float: right;
  background-image: url(../images/pack-image.jpg);
  background-repeat: repeat-x;
  border-left: solid 1px #ffffff;
  text-align: left;
}
.pack-box1
{
  width: 221px;
  height: 139px;
  float: right;
  background-image: url(../images/pack-image.jpg);
  background-repeat: repeat-x;
  border-left: solid 1px #ffffff;
  text-align: left;
}

/**************************** Second Section Ends *****************************/

/**************************** Third Section Starts ****************************/

.third-section
{
  width: 675px;
  height: 170px;
  float: right;
}
.down-box2
{
  width: 230px;
  height: 170px;
  float: right;
  background-image: url(../images/down-image2.jpg);
  background-repeat: repeat-x;
  text-align: left;
}
.down-box1
{
  width: 444px;
  height: 170px;
  float: right;
  background-image: url(../images/down-image1.jpg);
  background-repeat: repeat-x;
  text-align: left;
}



/**************************** Third Section Ends ******************************/

/**************************** Left Section Starts *****************************/

.left-section
{
  width: 238px;
  height: 309px;
  float: right;
}
.left-box2
{
  width: 217px;
  height: 309px;
  float: right;
  background-image: url(../images/left-image1.jpg);
  background-repeat: repeat-x;
  text-align: left;
}
.left-box1
{
  width: 21px;
  height: 309px;
  float: right;
  background-image: url(../images/left-image2.jpg);
  background-repeat: repeat-x;
}



/**************************** Left Section Ends *******************************/

/**************************** Footer Section Starts ***************************/
.footer
{
  float: right;
  width: 900px;
  font-family: Tahoma;
  font-size: 8pt;
  font-weight: normal;
  color: #616161;
  text-align: left;
  margin-top: 18px;
  clear: both;
  margin-bottom: 10px;
}
/**************************** Footer Section Ends *****************************/

/**************************** General Section Starts **************************/
.title1
{
  font-family: Tahoma;
  font-size: 12pt;
  font-weight: normal;
  color: #8f8383;
  margin-top: 10px;
  margin-left: 12px;
}
.title2
{
  font-family: Tahoma;
  font-size: 12pt;
  font-weight: bold;
  color: #535353;
}
.title3
{
  font-family: Tahoma;
  font-size: 12pt;
  font-weight: normal;
  color: #616161;
  margin-top: 10px;
  margin-left: 12px;
}
.sub-title
{
  font-family: Tahoma;
  font-size: 8pt;
  font-weight: normal;
  color: #3f3a3a;
  margin-left: 12px;
}
.description
{
  font-family: Tahoma;
  font-size: 8pt;
  font-weight: normal;
  color: #616161;
  text-align: justify;
  width: 195px;
  line-height: 18px;
  margin-left: 12px;
  margin-top: 2px;
}

.description1
{
  font-family: Tahoma;
  font-size: 8pt;
  font-weight: normal;
  color: #616161;
  text-align: justify;
  width: 400px;
  line-height: 18px;
  margin-left: 12px;
  margin-top: 2px;
}

.date-text{
  font-family: Tahoma;
  font-size: 8pt;
  color: #a4e3ff;
  font-weight: bold;
  margin-left: 12px;
  margin-top: 2px;
}


hr{
  background-color: #00deff;
  width: 200px;
  color: #00deff;
  border: solid 1px #00deff;

}
a.nav:link {color: #ffffff; text-decoration: none; }
a.nav:visited {color: #ffffff; text-decoration: none; }
a.nav:hover {color: #ffff99; text-decoration: underline; }
a.nav:active {color: blue; }



/**************************** General Section Ends ****************************/

/*CSS file for fontawesome - an iconfont we will be using. This CSS file imported contains the font-face declaration. More info: http://fortawesome.github.io/Font-Awesome/ */
@import url(http://thecodeplayer.com/uploads/fonts/fontawesome/css/font-awesome.min.css);

#accordian {
	background:#446244;
	width: 250px;
	margin: 0px auto 0 auto;
	color: white;
	font-family:Arial, Helvetica, sans-serif;
	/*Some cool shadow and glow effect*/
	box-shadow: 
		0 5px 15px 1px rgba(0, 0, 0, 0.6), 
		0 0 200px 1px rgba(255, 255, 255, 0.5);
}
/*heading styles*/
#accordian h3 {
	font-size: 12px;
	line-height: 34px;
	padding: 0 10px;
	cursor: pointer;
	background: #5A825A; /*fallback for browsers not supporti*/
	background: linear-gradient(#5A825A, #394B39);
}
/*heading hover effect*/
#accordian h3:hover {
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}
/*iconfont styles*/
#accordian h3 span {
	font-size: 16px;
	margin-right: 10px;
}
/*list items*/
#accordian li {
	list-style-type: none;
}
/*links*/
#accordian ul ul li a {
	color: white;
	text-decoration: none;
	font-size: 11px;
	line-height: 27px;
	display: block;
	padding: 0 15px;
	/*transition for smooth hover animation*/
	transition: all 0.15s;
}
/*hover effect on links*/
#accordian ul ul li a:hover {
	background: #000000;
	border-left: 5px solid lightgreen;
}
/*Lets hide the non active LIs by default*/
#accordian ul ul {
	display: none;
}
#accordian li.active ul {
	display: block;
}
.auto-style1 {
	border-style: solid;
	border-width: 1px;
}
.auto-style2 {
	border-width: 0px;
}